body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header, .banner-container, .information-container, .poem-container, .footer{
    padding: 16px 76px 0px 76px;
}

.banner-container, .information-container, .poem-container{
    padding-bottom: 48px;
    padding-top: 48px;
}


.header, .banner-container, .footer, .right-links a{
    background-color: #1F2937;
    color: #f9faf8;
    text-decoration: none;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 24px;
}

.right-links{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0px;
    padding: 0px;
    gap: 16px;
}

.banner-container{
    display: flex;
    gap:24px;
}

.description-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    gap: 8px;
}

.description-header{
    font-size: 48px;
    font-weight: bolder;

}

.information-header{
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 16px;
}

.dark-text{
    color: #1f2937;
}

.light-text{
    color: #e5e7eb;
}

.secondary-text{
    font-size: 18px;
    
}

.signup-button{
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 8px;
    padding: 8px 32px;
}

.fish-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.fish{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
}

.fish-pic{
    border-radius: 8px;
    border-color: #3882F6;
    border-width: 4px;
    border-style: solid;
}

.poem-container{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.poem-container p{
    margin: 0;
}

.poem{
    font-style: italic;
    font-size: 36px;
}

.poem-author, .poem-title{
    font-size: 24px;
    font-weight: bold;
}

.poem-author{
    align-self: flex-end;
}

.signup-container{
    display: flex;
    background-color: #3882F6;
    margin: 48px 76px 48px 76px;
    padding: 16px 48px;
    justify-content: space-between;
    align-items: center;
}

.signup p{
    margin: 0;
}

.signup-header{
    font-size: 18px;
    font-weight: bold;
}

.signup-container .signup-button{
    border-style: solid;
    border-width: 4px;
    border-color: #f9faf8;
}

.footer{
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
}